* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  width: 100%;
  .up-div{
    width: 100%;
    height: auto;
    .up-name{
      display: flex;
      position: absolute;
      width: 95%;
      height: 65%;
      align-items: center;
      justify-content: flex-end;
      font-family: Moskova;
      font-size: 7vh;
      color: #ffffff;
    }
    .up-img{
      width: 100%;
      height: auto;
    }
  }
}


.div-body1 {
  padding-left: 35vh;
  padding-right: 35vh;
}

.ad-div {
  width: 100%;
  height: 50vh;
  margin-top: 2vh;
  background-color: #000000;

  .ad-img {
    height: 50vh;
    width: 35vh;
    object-fit: cover;
  }
}

.fixed-bg1 {
  background-color: #a36bbd;
}

.fixed-bg2 {
  background: linear-gradient(to bottom, rgba(1, 0, 0, 0), rgba(0, 0, 0, 0));
}

.div1-bdy {
  margin-top: -38vh;
  margin-left: 48%;
  color: white;

  .ad-text1 {
    margin-left: 3vh;
    font-size: 7vh;
    font-family: Moskova;
  }

  .ad-text2 {
    font-family: Bagdoll Display;
    margin-left: -5vh;
    font-size: 6vh;

  }

  .ad-text3 {
    margin-left: 10.5vh;
    font-size: 2.5vh;
    font-family: 'Josefin Sans', sans-serif;
  }

  .ad-text4 {
    margin-left: 1vh;
    font-size: 2.5vh;
    font-family: 'Josefin Sans', sans-serif;
  }
}

.div2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  height: auto;

  .video-div {
    height: auto;
    width: 100%;

    .video {
      height: 100%;
      width: 100%;
    }
  }

  .img2 {
    width: 100%;
    height: 100%;
    margin-top: 8%;
  }

  .phar {
    background-color: #d191eb;
    width: 100%;
    color: white;
    height: auto;

    .para-text {
      width: 90%;
      height: 80%;
      display: flex;
      padding: 10vh;
      flex-wrap: nowrap;
      flex-direction: column;

      .p {
        font-family: Bagdoll Display;
        margin-top: 5vh;
        font-size: 5vh;
      }

      .p1 {
        font-family: 'Roboto', sans-serif;
        margin-top: 10vh;
      }

      .buy-now {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #bc05ff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        margin-top: 15vh;

        &:hover {
          background-color: #ff0fec;
          border: 3px solid white;
        }
      }

    }
  }
}

.ad-div2 {
  width: 100%;
  height: auto;
  margin-top: 10vh;
  display: flex;
  border: 3px solid #d191eb;
  flex-direction: column;
  align-items: center;
  font-family: "Bagdoll Display";
  font-size: 5vh;
  .img-line{
    height: auto;
    border: 3px solid #d191eb;
    .ad-img2 {
      height: auto;
      width: 32%;
    }
  }

}

.div-body2 {
  .video-div2 {
    margin-top: 5vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    background-color: #d191eb;
    .text-div1 {
      height: auto;
      color: #fff;
      font-family: Bagdoll Display;
      font-size: 4vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    .v1 {
      width: 100%;
      height: auto;
      background-color: black;
      .v1-video{
        width: 100%;
        height: 100vh;
        background-size: cover;
      }
    }
  }

  .video-div3 {
    margin-top: 5vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #d191eb;

    .text-div {
      height: auto;
      color: #fff;
      font-family: Bagdoll Display;
      font-size: 4vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
    .v2{
      width: 100%;
      height: auto;
      background-color: black;
      .v1-video{
        width: 100%;
        height: 100vh;
        background-size: cover;
      }
    }
  }


}